<!-- include boiler plate -->
<% layout('layouts/boilerplate') %>
<!-- include partials -->
<% include('../partials/header') %>
<div class="container mt-4">
    <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6 mb-4">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img 
                        src="<%= foundProduct.img %>" 
                        class="card-img-top" 
                        alt="<%= foundProduct.name %>"
                        style="height:180px; object-fit:cover;"
                    >
                    <div class="card-body">
                        <h6 class="card-title">
                            <%= foundProduct.name %>
                        </h6>
                        <p class="card-title">
                            ₹ <%= foundProduct.price %>
                        </p>
                        <p class="card-text">
                            <%= foundProduct.desc %>
                        </p>
                        <a href="/products/<%= foundProduct._id %>" class="btn btn-sm btn-primary">
                            Add to Cart
                        </a>
                        <a href="/cart/add/<%= foundProduct._id %>" class="btn btn-sm btn-info">
                            Buy Product
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="display-4">Leave a Review</h1>
                <form action="/products/<%= foundProduct._id %>/reviews" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="stars">Rating:</label>
                        <input class="form-control" type="range" min="0" max="5" step="0.5" name="rating" id="stars">
                    </div>
                    <div class="mb-3">
                        <label for="comment">Comment:</label>
                        <textarea name="comment" rows="3" id="comment" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success">Submit Review</button>
                </form>
            </div>
    </div>
</div>